<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>yody</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexController</display-name>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>controller.pub.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/public/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexController</display-name>
    <servlet-name>indexController</servlet-name>
    <servlet-class>controller.ad.indexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCatController</display-name>
    <servlet-name>addCatController</servlet-name>
    <servlet-class>controller.ad.addCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCatController</servlet-name>
    <url-pattern>/admin/add-cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addProductController</display-name>
    <servlet-name>addProductController</servlet-name>
    <servlet-class>controller.ad.addProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProductController</servlet-name>
    <url-pattern>/admin/add-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>handelMenuController</display-name>
    <servlet-name>handelMenuController</servlet-name>
    <servlet-class>controller.ad.handelMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handelMenuController</servlet-name>
    <url-pattern>/handelMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandelMenu1Controller</display-name>
    <servlet-name>HandelMenu1Controller</servlet-name>
    <servlet-class>controller.ad.HandelMenu1Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandelMenu1Controller</servlet-name>
    <url-pattern>/handelMenu1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthLoginController</display-name>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.auth.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/auth/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthLogoutController</display-name>
    <servlet-name>AuthLogoutController</servlet-name>
    <servlet-class>controller.auth.AuthLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogoutController</servlet-name>
    <url-pattern>/auth/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileLB</display-name>
    <servlet-name>UploadFileLB</servlet-name>
    <servlet-class>library.UploadFileLB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileLB</servlet-name>
    <url-pattern>/UploadFileLB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandelProductController</display-name>
    <servlet-name>HandelProductController</servlet-name>
    <servlet-class>controller.ad.HandelProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandelProductController</servlet-name>
    <url-pattern>/handel_product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandelProductAjaxController</display-name>
    <servlet-name>HandelProductAjaxController</servlet-name>
    <servlet-class>controller.ad.HandelProductAjaxController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandelProductAjaxController</servlet-name>
    <url-pattern>/handel_product_ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductController</display-name>
    <servlet-name>ListProductController</servlet-name>
    <servlet-class>controller.ad.ListProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductController</servlet-name>
    <url-pattern>/admin/list-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductDetailController</display-name>
    <servlet-name>ListProductDetailController</servlet-name>
    <servlet-class>controller.ad.ListProductDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductDetailController</servlet-name>
    <url-pattern>/admin/product-detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductController</display-name>
    <servlet-name>DeleteProductController</servlet-name>
    <servlet-class>controller.ad.DeleteProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductController</servlet-name>
    <url-pattern>/admin/delete-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductController</display-name>
    <servlet-name>EditProductController</servlet-name>
    <servlet-class>controller.ad.EditProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductController</servlet-name>
    <url-pattern>/admin/edit-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCategoryController</display-name>
    <servlet-name>ListCategoryController</servlet-name>
    <servlet-class>controller.ad.ListCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCategoryController</servlet-name>
    <url-pattern>/admin/list-categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoriesController</display-name>
    <servlet-name>EditCategoriesController</servlet-name>
    <servlet-class>controller.ad.EditCategoriesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoriesController</servlet-name>
    <url-pattern>/admin/edit-categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoriesController</display-name>
    <servlet-name>DeleteCategoriesController</servlet-name>
    <servlet-class>controller.ad.DeleteCategoriesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoriesController</servlet-name>
    <url-pattern>/admin/delete-categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandelNameCategoriesController</display-name>
    <servlet-name>HandelNameCategoriesController</servlet-name>
    <servlet-class>controller.ad.HandelNameCategoriesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandelNameCategoriesController</servlet-name>
    <url-pattern>/admin/handel-name-categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandelImagesCategoriesController</display-name>
    <servlet-name>HandelImagesCategoriesController</servlet-name>
    <servlet-class>controller.ad.HandelImagesCategoriesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandelImagesCategoriesController</servlet-name>
    <url-pattern>/admin/handel-images-categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandelNameCategoriesAjaxController</display-name>
    <servlet-name>HandelNameCategoriesAjaxController</servlet-name>
    <servlet-class>controller.ad.HandelNameCategoriesAjaxController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandelNameCategoriesAjaxController</servlet-name>
    <url-pattern>/admin/handel-name-category-ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailProductPublicController</display-name>
    <servlet-name>DetailProductPublicController</servlet-name>
    <servlet-class>controller.pub.DetailProductPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailProductPublicController</servlet-name>
    <url-pattern>/public/show-more-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailProductController</display-name>
    <servlet-name>DetailProductController</servlet-name>
    <servlet-class>controller.pub.DetailProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailProductController</servlet-name>
    <url-pattern>/public/product-detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductByCatController</display-name>
    <servlet-name>ProductByCatController</servlet-name>
    <servlet-class>controller.pub.ProductByCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductByCatController</servlet-name>
    <url-pattern>/public/product-by-cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthloginPublicController</display-name>
    <servlet-name>AuthloginPublicController</servlet-name>
    <servlet-class>controller.auth.AuthloginPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthloginPublicController</servlet-name>
    <url-pattern>/auth/public/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthSignUpPublicController</display-name>
    <servlet-name>AuthSignUpPublicController</servlet-name>
    <servlet-class>controller.auth.AuthSignUpPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthSignUpPublicController</servlet-name>
    <url-pattern>/auth/public/sign-up</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthLogOutPublicController</display-name>
    <servlet-name>AuthLogOutPublicController</servlet-name>
    <servlet-class>controller.auth.AuthLogOutPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogOutPublicController</servlet-name>
    <url-pattern>/auth/public/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicPersonalPageController</display-name>
    <servlet-name>PublicPersonalPageController</servlet-name>
    <servlet-class>controller.pub.PublicPersonalPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicPersonalPageController</servlet-name>
    <url-pattern>/public/personal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentWithPayPalLb</display-name>
    <servlet-name>PaymentWithPayPalLb</servlet-name>
    <servlet-class>library.PaymentWithPayPalLb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentWithPayPalLb</servlet-name>
    <url-pattern>/PaymentWithPayPalLb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorizePaymentController</display-name>
    <servlet-name>AuthorizePaymentController</servlet-name>
    <servlet-class>controller.paypal.AuthorizePaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizePaymentController</servlet-name>
    <url-pattern>/paypal/authorize-payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewPaymentController</display-name>
    <servlet-name>ReviewPaymentController</servlet-name>
    <servlet-class>controller.paypal.ReviewPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewPaymentController</servlet-name>
    <url-pattern>/paypal/review-payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecutePaymentController</display-name>
    <servlet-name>ExecutePaymentController</servlet-name>
    <servlet-class>controller.paypal.ExecutePaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutePaymentController</servlet-name>
    <url-pattern>/paypal/execute-payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsernameHandelSignupController</display-name>
    <servlet-name>UsernameHandelSignupController</servlet-name>
    <servlet-class>controller.auth.UsernameHandelSignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsernameHandelSignupController</servlet-name>
    <url-pattern>/UsernameHandelSignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthHandelEmailSignupPublicController</display-name>
    <servlet-name>AuthHandelEmailSignupPublicController</servlet-name>
    <servlet-class>controller.auth.AuthHandelEmailSignupPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthHandelEmailSignupPublicController</servlet-name>
    <url-pattern>/auth/public/email-handel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginGoogleController</display-name>
    <servlet-name>LoginGoogleController</servlet-name>
    <servlet-class>controller.auth.LoginGoogleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginGoogleController</servlet-name>
    <url-pattern>/auth/public/login-google</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderController</display-name>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>controller.pub.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/public/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandelAjaxOrderController</display-name>
    <servlet-name>HandelAjaxOrderController</servlet-name>
    <servlet-class>controller.pub.HandelAjaxOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandelAjaxOrderController</servlet-name>
    <url-pattern>/public/handel-order-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandelCartController</display-name>
    <servlet-name>HandelCartController</servlet-name>
    <servlet-class>controller.pub.HandelCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandelCartController</servlet-name>
    <url-pattern>/public/handel-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartController</display-name>
    <servlet-name>CartController</servlet-name>
    <servlet-class>controller.pub.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/public/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressLb</display-name>
    <servlet-name>AddressLb</servlet-name>
    <servlet-class>library.AddressLb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressLb</servlet-name>
    <url-pattern>/address-lb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentController</display-name>
    <servlet-name>CommentController</servlet-name>
    <servlet-class>controller.pub.CommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentController</servlet-name>
    <url-pattern>/public/show-comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReCommentController</display-name>
    <servlet-name>ReCommentController</servlet-name>
    <servlet-class>controller.pub.ReCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReCommentController</servlet-name>
    <url-pattern>/public/show-recomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandelDisplayProductDetailPage</display-name>
    <servlet-name>HandelDisplayProductDetailPage</servlet-name>
    <servlet-class>controller.pub.HandelDisplayProductDetailPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandelDisplayProductDetailPage</servlet-name>
    <url-pattern>/public/handel-product-detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCustomersController</display-name>
    <servlet-name>ListCustomersController</servlet-name>
    <servlet-class>controller.ad.ListCustomersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCustomersController</servlet-name>
    <url-pattern>/admin/list-customers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUsersController</display-name>
    <servlet-name>ListUsersController</servlet-name>
    <servlet-class>controller.ad.ListUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsersController</servlet-name>
    <url-pattern>/admin/list-users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUsersController</display-name>
    <servlet-name>AddUsersController</servlet-name>
    <servlet-class>controller.ad.AddUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUsersController</servlet-name>
    <url-pattern>/admin/add-users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUsersController</display-name>
    <servlet-name>DeleteUsersController</servlet-name>
    <servlet-class>controller.ad.DeleteUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUsersController</servlet-name>
    <url-pattern>/admin/delete-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUsersController</display-name>
    <servlet-name>EditUsersController</servlet-name>
    <servlet-class>controller.ad.EditUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUsersController</servlet-name>
    <url-pattern>/admin/edit-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomersController</display-name>
    <servlet-name>EditCustomersController</servlet-name>
    <servlet-class>controller.ad.EditCustomersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomersController</servlet-name>
    <url-pattern>/admin/edit-customers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePersonalController</display-name>
    <servlet-name>UpdatePersonalController</servlet-name>
    <servlet-class>controller.pub.UpdatePersonalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePersonalController</servlet-name>
    <url-pattern>/public/update-personal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutController</display-name>
    <servlet-name>CheckoutController</servlet-name>
    <servlet-class>controller.pub.CheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutController</servlet-name>
    <url-pattern>/public/checkout-page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeCommentController</display-name>
    <servlet-name>LikeCommentController</servlet-name>
    <servlet-class>controller.pub.LikeCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeCommentController</servlet-name>
    <url-pattern>/public/show-like-comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterProductController</display-name>
    <servlet-name>FilterProductController</servlet-name>
    <servlet-class>controller.pub.FilterProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterProductController</servlet-name>
    <url-pattern>/public/filter-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileAdminController</display-name>
    <servlet-name>ProfileAdminController</servlet-name>
    <servlet-class>controller.ad.ProfileAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileAdminController</servlet-name>
    <url-pattern>/admin/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandelColorInputController</display-name>
    <servlet-name>HandelColorInputController</servlet-name>
    <servlet-class>controller.ad.HandelColorInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandelColorInputController</servlet-name>
    <url-pattern>/admin/handel-color</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandelInfoAdminController</display-name>
    <servlet-name>HandelInfoAdminController</servlet-name>
    <servlet-class>controller.ad.HandelInfoAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandelInfoAdminController</servlet-name>
    <url-pattern>/admin/handel-info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrderContronller</display-name>
    <servlet-name>ListOrderContronller</servlet-name>
    <servlet-class>controller.ad.ListOrderContronller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrderContronller</servlet-name>
    <url-pattern>/admin/list-order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrderDetailController</display-name>
    <servlet-name>ListOrderDetailController</servlet-name>
    <servlet-class>controller.ad.ListOrderDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrderDetailController</servlet-name>
    <url-pattern>/admin/list-order-detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.ad.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/admin/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSaleController</display-name>
    <servlet-name>ListSaleController</servlet-name>
    <servlet-class>controller.ad.ListSaleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSaleController</servlet-name>
    <url-pattern>/admin/list-sale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrderController</display-name>
    <servlet-name>ListOrderController</servlet-name>
    <servlet-class>controller.pub.ListOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrderController</servlet-name>
    <url-pattern>/public/list-order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportExcelController</display-name>
    <servlet-name>ExportExcelController</servlet-name>
    <servlet-class>controller.ad.ExportExcelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportExcelController</servlet-name>
    <url-pattern>/admin/export-excel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportPDFController</display-name>
    <servlet-name>ExportPDFController</servlet-name>
    <servlet-class>controller.ad.ExportPDFController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportPDFController</servlet-name>
    <url-pattern>/admin/export-pdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSuppliersController</display-name>
    <servlet-name>ListSuppliersController</servlet-name>
    <servlet-class>controller.ad.ListSuppliersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSuppliersController</servlet-name>
    <url-pattern>/admin/list-suppliers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderController</display-name>
    <servlet-name>CancelOrderController</servlet-name>
    <servlet-class>controller.ad.CancelOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderController</servlet-name>
    <url-pattern>/admin/cancel-order</url-pattern>
  </servlet-mapping>
</web-app>